.title {
	text-align: center;
	color: #DC143C;
	font-family: Impact, Arial, Helvetica, sans-serif;
}
#clique {
	font-size: 80px;
	margin-bottom: 0px;
}
#links {
	word-spacing:40px;
}
.person {
	overflow: auto;
	margin: 40px;
	background-color:rgba(0, 0, 0, 0.85);
	border-radius: 20px;
	padding: 20px;
}
a:link {
	color: #DC143C;
	font-size: 60px;
	text-decoration:none;
}
a:visited {
	color: #DC143C;
	text-decoration:none;
}
a:hover {
	color: #DC143C;
	text-decoration:underline;
}
a:active {
	color: #DC143C;
	text-decoration:underline;
}
img {  
	display: block;
	-webkit -filter: blur(1px);
	height:300px;
	width:300px;
	float:left;
	border: 3px solid white;
	border-radius: 20px;
	margin-right: 20px;
}

.label {
   /*Position*/
  display: block;
  vertical-align: top;  
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.label p {
  /*Position*/
  position: absolute;
  padding: 10px;
  margin-top: -2px;
  margin-left: 185px;
  width: 100px;
  height: 290px;
  
  top: 0%;
  left: 150%;

  border: 3px transparent;
  border-radius: 20px;

  /*Skin*/
  background: rgba(112,143,184,0.5);
  color: #f4f6de;
  font: 20px courier; 
  text-align: center;
     
  /*Animation*/
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.label:hover p {
   left: 0%;
}

a {
	color: white;
}

.box {
	width:350px;
}

.intro p{
	margin-top: 0px;
	font-family: Impact, Arial, Helvetica, sans-serif;
	color: #DC143C;
	font-size: 22px;
}

body {
	background: url('background.jpg');
}

