#title {
	text-align: center;
	color: #DC143C;
	font-family: Impact, Arial, Helvetica, sans-serif;
	font-size: 80px;
	margin-bottom: 20px;
}
.person {
	overflow: auto;
	margin: 40px;
	background-color:rgba(0, 0, 0, 0.85);
	border-radius: 20px;
	padding: 20px;
}
img {  
	height:300px;
	width:300px;
	float:left;
	border: 3px solid white;
	border-radius: 20px;
	margin-right: 20px;
}
p {
	margin-top: 0px;
	font-family: Impact, Arial, Helvetica, sans-serif;
	color: #DC143C;
	font-size: 22px;
}
body {
	background: url('background.jpg');
}