#title {
	text-align: center;
}
.person {
	overflow: auto;
}
img {  

	display: block;
    -webkit -filter: blur(1px);
    height:300px;
    width:300px;
    float:left;
    border: 3px solid;
	border-radius: 20px;
}

.label {
   /*Position*/
  display: block;
  vertical-align: top;  
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.label p {
  /*Position*/
  position: absolute;
  padding: 10px;
  margin-top: -2px;
  margin-left: 185px;
  width: 100px;
  height: 290px;
  
  top: 0%;
  left: 150%;

  border: 3px transparent;
  border-radius: 20px;

  /*Skin*/
  background: rgba(112,143,184,0.5);
  color: #f4f6de;
  font: 20px courier; 
  text-align: center;
     
  /*Animation*/
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.label:hover p {
   left: 0%;
}

a {
	color: white;
}

.box {
	width:350px;
}



