body {
	top: 102px;
	height: auto;
	width: auto;
	background: url('General%20Photos/body.jpg'); 
	font: 12px 'Trebuchet MS';
}

h2 {
	color: #236B8E;
	font-size: 28px;
}h3 {
	font-weight: bolder;
	font-style: oblique;
	font-size: 18px;
}

.sports {height: 1270px;}
.intro p {
	width: 738px;
	min-height: 70px;
}#bat_hat {
	display: inline-block;
	margin: 8px 5px 0 0;
	float: right;
	height: 160px;
}.basketball {
	margin: 4px -3px 0px 2.5px;
	height: 168.5px;
}.football {
	margin: 4px -4px 0px 3px;
	height: 116.5px;
}.strip {background-color: #222;}
.strip img {
	border: 1.5px solid #ADADAD;
	padding: 2px;
}

.food{height: 1945px;}
.food_line {
	text-align: center;
}
#chef {
	margin: 6px;
	float: right;
	height: 210px;
}#eat {
	float: left;
	height: 180px;
	margin: 4px;
}#durian {
	height: 140px;
	margin-left: 50px;
}
#breakfast {height: 190px;}
#burger {height: 170px;}
#sushi {height: 180px;}
.pizza {height: 220px;}
#dessert {height: 210px;}

.music {height: 2039px;}
.music h3 {
	text-indent: 35px;
	margin-bottom: 0;
}.empire {display: inline-block;}
.empire figure {
	float: left; 
	text-align: center;
	margin: 12px 28px 0 12px;
}.empire img {
	text-align: left;	
	height: 213px;
}.empire audio {
	display: inline-block;
	margin: -25px 76px 0px 55px;
}.empire p {
	width: 417px;
	display: inline-block;
	margin-right: 12px;
}.un995 img{height: 310px;} 
.un995 {
	display: inline-block;
	min-height: 340px;
}.un995 p {
	display: inline-block;
	margin: 12px 0 0 12px;
	width: 415px;
}.un995 figure {
	float: right;
	margin: 12px 12px 0 0;
	text-align: center;
}#un995 {
	display: inline-block;	
	vertical-align: top;
	margin: -45px 0 0 525px;
}
.rap {clear: both;}
.rap img {
	height: 220px;
	margin: 5px -2px -3px 5px;
	padding: 6px 8px 6px 6px;
}.fun {
	height: 128.75px;
	margin: 5px -2px 0 3px;
}

.movies {height: 2249px;}
.buddy_cop {
	margin: 0px 65px;
	height: 200px;
}.martial {
	margin: 0px 55px;
	height: 230px;
}.epic {height: 210px;}
.good  {
	height: 213px;
	margin: 0px 3px;
}.movies img {
	background: #DDD;
	border: 2px solid #323232;
}

header {
	position: relative;
	height: 100px;
	border: 1px solid #888;
	border-bottom: 5px solid #000;
	margin: -9px -9px 0px -8px;
	background: linear-gradient(to top left, #236B8E, #DDD);
	min-width: 1053px;
}

h1 {
	margin: 35px 0px 0px 65px;
	text-align: left;
	font-size: 60px;
}

aside {
	position: absolute;
	top: 113px;
	bottom: 0px;
	width: 158px;
	margin: 7px 0px 0px -8px;
	text-align: center;
}

div {
	width: 880px;
	margin: 2px 0;
	opacity: 1;
}

nav {
	position: fixed;
	text-align: center;
}

nav ul {
	display: inline-block;
	list-style: none;
	width: 126px;
	margin-left: -25px;
}

a {
	display: block;
	border-radius: 10px;
	padding: 4px 20px;
	margin: 5px;
	background: radial-gradient(#E6E8FA, #A8A8A8);

	color: #333;
	border: 2px sportsolid #333;
	font: small-caps bold 24px 'Tahoma';
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

a:hover {
	background: radial-gradient(#A8A8A8, #E6E8FA);
	box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
	border: 2px solid black;
	margin-bottom: -4px;
	color: black;
}

p {
	width: 870px;
	margin-left: 4px;
}

img {
	padding: 4px;
	/*border: 1px solid gray;*/
}

.page-content {
	padding: 4px 0 4px 18px;
	position: relative;
	top: 30px;
	left: 152px;
	height: auto;
	width: 890px;
	background: #f7f6ef;
	opacity: 1;
	border-radius: 8px;
}